body {
    margin: 0;
    font-family: sans-serif;
}

.login-card {
    width: 400px;
    padding: 40px;
    margin: 100px auto;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    text-align: center;
}

.login-card input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-card button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}
