<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>배달의 만족 - Client</title>

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/client.css">
    <script src="https://js.tosspayments.com/v2/standard"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e7bd5373ec45ca282bfb5dba9314a656&libraries=services"></script>
</head>
<body>
<div id="app"></div>
<script src="/js/client.js"></script>
</body>
</html>
